.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.edit {
  margin: 0 8px;
}

.title {
  font-size: 1.5em;
  padding: 0 16px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.25em;
  padding-left: 16px;
}
