<app-toolbar (editChange)="getEdit($event)"></app-toolbar>
<div class="content" role="main">
  <button
    mat-flat-button
    color="accent"
    class="add-btn"
    (click)="openUserDialog()"
  >
    Add User +
  </button>
  <div *ngFor="let user of users">
    <app-user-card
      [user]="user"
      [earnItems]="earnItems"
      [loseItems]="loseItems"
      [rewardItems]="rewardItems"
      [edit]="edit"
    ></app-user-card>
  </div>
  <button mat-button (click)="deleteUser('temp')">delete User</button>
  <button mat-button (click)="addUser()">add User</button>
</div>
