<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ user.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ user.subtitle }}</mat-card-subtitle>
    </mat-card-title-group>
    <div fxFlex></div>
    <div *ngIf="edit" class="action-btns">
      <button mat-icon-button color="primary" (click)="editUser(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <!-- <img mat-card-image [src]="user.imageurl" alt="Photo of {{user.name}}" referrerpolicy="no-referrer"> -->
  <mat-card-content class="points-container">
    <button *ngIf="edit" mat-mini-fab color="primary" (click)="decPoint()">
      -
    </button>
    <p class="points">{{ point }} points</p>
    <button *ngIf="edit" mat-mini-fab color="primary" (click)="incPoint()">
      +
    </button>
  </mat-card-content>

  <!-- Lose points dropdown -->
  <div class="buttons-container">
    <mat-form-field appearance="fill">
      <mat-label>Lose points</mat-label>
      <mat-select [formControl]="lose" multiple>
        <mat-option
          *ngFor="let item of loseItems | itemfilter: user.id"
          [value]="item.points"
        >
          {{ item.desc }}
          <span class="suffix"> [ {{ item.points }} ] </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-stroked-button
      color="accent"
      (click)="losePoints()"
      [disabled]="!edit || !lose.value || lose.value.length == 0"
    >
      Lose
    </button>
  </div>

  <!-- Earn points dropdown -->
  <div class="buttons-container">
    <mat-form-field appearance="fill">
      <mat-label>Earn points</mat-label>
      <mat-select [formControl]="earn" multiple>
        <mat-option
          *ngFor="let item of earnItems | itemfilter: user.id"
          [value]="item.points"
        >
          {{ item.desc }}
          <span class="suffix"> [ {{ item.points }} ] </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-stroked-button
      color="accent"
      (click)="earnPoints()"
      [disabled]="!edit || !earn.value || earn.value.length == 0"
    >
      Earn
    </button>
  </div>

  <!-- Spend points dropdown -->
  <div class="buttons-container">
    <mat-form-field appearance="fill">
      <mat-label>Spend points</mat-label>
      <mat-select [formControl]="spend" multiple>
        <mat-option
          *ngFor="let item of rewardItems | itemfilter: user.id"
          [value]="item.points"
        >
          {{ item.desc }}
          <span class="suffix"> [ {{ item.points }} ] </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-stroked-button
      color="accent"
      (click)="spendPoints()"
      [disabled]="!spend.value || spend.value.length == 0"
    >
      Spend
    </button>
  </div>
</mat-card>
