<h1 mat-dialog-title>
  All Activities
  <button class="close" mat-icon-button color="warn" [mat-dialog-close]="true">
    <mat-icon>cancel</mat-icon>
  </button>
</h1>

<div mat-dialog-content>
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [percentageFormatting]="percentageFormatting"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-advanced-pie-chart>
</div>
<!-- 
<ngx-charts-line-chart
  [scheme]="colorScheme"
  [legendPosition]="legendPos"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-line-chart> -->

<div class="content">
  <h3>Lose Points</h3>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="losePie"
    [cardColor]="cardColor"
    (select)="onSelect($event)"
  >
  </ngx-charts-number-card>

  <h3>Earn Points</h3>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="earnPie"
    [cardColor]="cardColor"
    (select)="onSelect($event)"
  >
  </ngx-charts-number-card>

  <h3>Spend Points</h3>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="spendPie"
    [cardColor]="cardColor"
    (select)="onSelect($event)"
  >
  </ngx-charts-number-card>
</div>
